<style>
  div#header {
    display: none;
  }

  .sla {
    margin-top:25px;
    display:block;
  }

  .sla_name {
    font-weight:bold;
    font-size:14px;
    color:#606060;
  }

  div.sla_info {
    font-size:10px;
    line-height: 16px;
    margin-bottom:20px;
  }

  table.progress {
    width: 100%;
    height: 8px;
  }

  table.progress td {
    background-color: none;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0%;
  }

  div.sla_info {
    margin-top:10px;
  }

  div.sla_info div {
      float:left;
      margin-left:50px;
      margin-right:50px;
      padding:3px;
      width:100px;
      text-align:center;
  }

  div.sla_info div a {
    color:#FFFFFF;
    text-decoration: underline;
  }

  .total {
    color:#000000;
  }

  .closed, table.progress td.closed {
    background-color:lightgrey;
    color:#000000;
  }

  .closedLastSevenDays {
    background-color:lightgreen;
    color:#000000;
  }

  .openInSla {
    background-color:goldenrod;
    color:#000000;
  }

  .openPassSla {
    background-color:indianred;
    color:#FFFFFF;
  }

  .clear {
    clear:both;
    display:block;
    width:0px;
    height:0px;
  }

</style>

<h2>SLA Report</h2>
<div class="slas">
  <% @slaReport.each_with_index do |sla,id| %>
    <div class="sla">
      <div class="sla_name">
        <%= sla[1]['name'] %> - <%= sla[1]['daysToResolve'] %> Days
      </div>
      <% if sla[1]['totalIssues'] > 0 %>
        <% percentClosed = ( (sla[1]['closedIssues'].to_f - sla[1]['closedIssuesInProgressTime'].to_f )/ sla[1]['totalIssues'].to_f ) * 100 %>
        <% percentClosedLastSevenDays = ( sla[1]['closedIssuesInProgressTime'].to_f / sla[1]['totalIssues'].to_f ) * 100 %>
        <% percentOpenInSLA = ( sla[1]['openInSlaIssues'].to_f / sla[1]['totalIssues'].to_f ) * 100 %>
        <% percentOpenPassSla = ( sla[1]['openPastSlaIssues'].to_f / sla[1]['totalIssues'].to_f ) * 100 %>
        <table class="progress">
          <tbody>
            <tr>
              <td style="width: <%= percentClosed.to_f %>%;" class="closed"></td>
              <td style="width: <%= percentClosedLastSevenDays.to_f %>%;" class="closedLastSevenDays"></td>
              <td style="width: <%= percentOpenInSLA.to_f %>%;" class="openInSla"></td>
              <td style="width: <%= percentOpenPassSla.to_f %>%;" class="openPassSla"></td>
            </tr>
          </tbody>
        </table>
        <br />
        <div class="sla_info">
          <div class="total">
            Total: <%= sla[1]['totalIssues'] %>
          </div>
          <div class="closed">
            Closed: <%= sla[1]['closedIssues'] %>
          </div>
          <div class="closedLastSevenDays">
            Closed [ in last <%= distance_of_time_in_words(Setting.plugin_redmine_reports['slaShowProgressTime'].to_i).upcase %> ]: <%= sla[1]['closedIssuesInProgressTime'] %>
          </div>
          <div class="openInSla">
            Open [ in sla ]: <%= sla[1]['openInSlaIssues'] %>
          </div>
          <div class="openPassSla">
            <% if sla[1]['type'] == "trackers" %>
              <a href="<%= Setting.where(name: 'protocol').first.value %>://<%=Setting.where(name: 'host_name').first.value %>/issues?utf8=%E2%9C%93&set_filter=1&f%5B%5D=tracker_id&op%5Btracker_id%5D=%3D&v%5Btracker_id%5D%5B%5D=<%= sla[1]['id'] %>&f%5B%5D=status_id&op%5Bstatus_id%5D=o&f%5B%5D=created_on&op%5Bcreated_on%5D=%3Ct-&v%5Bcreated_on%5D%5B%5D=<%= sla[1]['daysToResolve'] %>&f[]=project_id&op[project_id]==&v[project_id][]=12&v[project_id][]=26&v[project_id][]=33&v[project_id][]=21&v[project_id][]=23&v[project_id][]=24&v[project_id][]=94&v[project_id][]=98&v[project_id][]=97&v[project_id][]=22&v[project_id][]=16&v[project_id][]=25&v[project_id][]=20&f%5B%5D=&available_columns%5B%5D=parent&c%5B%5D=status&c%5B%5D=subject&c%5B%5D=assigned_to&c%5B%5D=updated_on&c%5B%5D=created_on&group_by=" style="color:white;">
            <% elsif sla[1]['type'] == "enumerations"  %>
              <a href="<%= Setting.where(name: 'protocol').first.value %>://<%=Setting.where(name: 'host_name').first.value %>/issues?utf8=%E2%9C%93&set_filter=1&f%5B%5D=status_id&op%5Bstatus_id%5D=o&f%5B%5D=created_on&op%5Bcreated_on%5D=%3Ct-&v%5Bcreated_on%5D%5B%5D=<%= sla[1]['daysToResolve'] %>&f%5B%5D=priority_id&op%5Bpriority_id%5D=%3D&v%5Bpriority_id%5D%5B%5D=<%= sla[1]['id'] %>&f[]=project_id&op[project_id]==&v[project_id][]=12&v[project_id][]=26&v[project_id][]=33&v[project_id][]=21&v[project_id][]=23&v[project_id][]=24&v[project_id][]=94&v[project_id][]=98&v[project_id][]=97&v[project_id][]=22&v[project_id][]=16&v[project_id][]=25&v[project_id][]=20&f%5B%5D=&c%5B%5D=project&c%5B%5D=tracker&c%5B%5D=status&c%5B%5D=priority&c%5B%5D=subject&c%5B%5D=assigned_to&c%5B%5D=updated_on&group_by=" style="color:white;">
            <% elsif sla[1]['type'] == "issue_status" %>
              <a href="<%= Setting.where(name: 'protocol').first.value %>://<%=Setting.where(name: 'host_name').first.value %>/issues?utf8=%E2%9C%93&set_filter=1&f%5B%5D=status_id&op%5Bstatus_id%5D=%3D&v%5Bstatus_id%5D%5B%5D=<%= sla[1]['id'] %>&f%5B%5D=updated_on&op%5Bupdated_on%5D=%3Ct-&v%5Bupdated_on%5D%5B%5D=<%= sla[1]['daysToResolve'] %>&f[]=project_id&op[project_id]==&v[project_id][]=12&v[project_id][]=26&v[project_id][]=33&v[project_id][]=21&v[project_id][]=23&v[project_id][]=24&v[project_id][]=94&v[project_id][]=98&v[project_id][]=97&v[project_id][]=22&v[project_id][]=16&v[project_id][]=25&v[project_id][]=20&f%5B%5D=&c%5B%5D=project&c%5B%5D=tracker&c%5B%5D=status&c%5B%5D=priority&c%5B%5D=subject&c%5B%5D=assigned_to&c%5B%5D=updated_on&group_by=" style="color:white;">
            <% end %>
              Open [ past sla ]: <%= sla[1]['openPastSlaIssues'] %>
            </a>
          </div>
        </div>
      <% else %>
        <i>No issues are under this sla.</i>
      <% end %>
      <div class="clear">&nbsp;</div>
    </div>
    <div class="clear">&nbsp;</div>
  <% end %>
</div>
<div class="clear">&nbsp;</div>
