<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'tooltipster/dist/css/tooltipster.bundle.min.css', :plugin => 'redmine_user_priority' %>
  <%= stylesheet_link_tag 'tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-shadow.min.css', :plugin => 'redmine_user_priority' %>
  <%= javascript_include_tag 'tooltipster/dist/js/tooltipster.bundle.min.js', :plugin => 'redmine_user_priority' %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('.report_status_issue').tooltipster({
      theme: 'tooltipster-shadow',
      animation: 'fade',
      delay: 100,
      contentAsHTML: true,

    });
  });
</script>

<style>
  .report_status {
    float:left;
    margin:10px;
    width:100px;
  }

  .report_status_name {
    font-weight:bold;
    font-size:14px;
    text-align:center;
  }

  .report_status_issue {
    font-size:18px;
    border:1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top:5px;
    line-height:24px;
    padding:3px;
    height:24px;
    overflow:hidden;
  }

  .tooltip_templates {
    display: none;
  }

  .td-title {
    font-weight:bold;
    text-align:right;
  }

</style>

<h2>Issue Status's</h2>
<h3>Shows the top 10 longest time since updated issues for each status</h3>

<div class="report_statuses">
  <% @issueStatuses.each do |status| %>
    <div class="report_status">
        <div class="report_status_name">
          <%= status.name %>
        </div>
        <% @issues[status['id']].first(10).each do |issue| %>
          <% issueAssignee = "nobody" %>
          <% @users.each do |user| %>
            <% if user['id'] == issue['assigned_to_id'] %>
              <% issueAssignee = "#{user['firstname']} #{user['lastname']}" %>
            <% end %>
          <% end %>
          <div class="tooltip_templates">
            <div id="tooltip-<%= issue['id'] %>">
              <table>
                <tbody>
                  <tr>
                    <td class="td-title">Subject</td>
                    <td><%= issue['subject'] %></td>
                  </tr>
                  <tr>
                    <td class="td-title">Assigned To</td>
                    <td><%= issueAssignee %></td>
                  </tr>
                  <tr>
                    <td class="td-title">Last Updated</td>
                    <td><%= distance_of_time_in_words(Time.new.to_i - issue['updated_on'].to_i) %> ago</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="report_status_issue tooltip" data-tooltip-content="div#tooltip-<%= issue['id'] %>">
            <a href="<%= Setting.where(name: 'protocol').first.value %>://<%=Setting.where(name: 'host_name').first.value %>/issues/<%= issue['id'] %>"><%= issue['id'] %></a>
          </div>
        <% end %>
        <div class="clear">&nbsp;</div>
    </div>
  <% end %>
  <div class="clear">&nbsp;</div>
</div>
