<style>
  div.user div.user_name {
    margin-top:15px;
    font-weight:bold;
    font-size:16px;
  }

  div.user div.user_info {
    float:left;
    margin-left:25px;
  }

  .clear {
    clear:both;
    display:block;
    width:0px;
    height:0px;
  }
</style>

<% @output.each do |user_id,user_info| %>
  <% unless user_info['user'].nil?  || user_info['user']['firstname'] == "" %>
    <div class="user">
      <div class="user_name">
        <%=user_info['user']['firstname'] %> <%=user_info['user']['lastname'] %>
        <div class="clear">&nbsp;</div>
      </div>
      <div class="user_info">
        # of RFDs: <%=user_info['rfd_count'] %>
      </div>
      <div class="user_info">
        # of Issues: <%=user_info['issue_count'] %>
      </div>
      <div class="user_info">
        % RFD: <%=user_info['per'].to_i%>%
      </div>
      <div class="clear">&nbsp;</div>
    </div>
  <% end %>
<% end %>

<h2>By Issue</h2>
<% @issueOut.each do |issue_id,info| %>
  <% if info['thrashCount'].to_i > 9 %>
    <div class="issue" title="<%=info['issue']['subject'] %>">
      <a href="<%= Setting.where(name: 'protocol').first.value %>://<%=Setting.where(name: 'host_name').first.value %>/issues/<%= issue_id %>">
        <%= issue_id %>: <%= info['thrashCount'] %>
      </a>
    </div>
  <% end %>
<% end %>
